body {
  background-image: url("images/baackground.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.music {
  width: 250px;
  height: 250px;
  margin-left: 35%;
  margin-top: 10px;
  border: 4px solid #05040b;
}
