body {    /* Задаю изначальные параметры для вех элементов сайта и фона */
  background-image: url("images/background2.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #05040b;
  margin: 0;
}

.block_lofi { /* Задаю параметры для кнопки Lofi */
  height:90px;
  width: 200px;
  background-color: auto;
  border: 6px outset;
  border-color: Silver;
  text-align: center;
  display: block;
}
.img_lofi{
  display: block;
  margin:0 auto;
}

#header{
  height:20%;
  width:100%;
  position: static;
  margin-bottom: 1%;
  border: 4px outset;
}

#Block_1{
  height:90%;
  width:11%;
  position: absolute;
  left: 0%;
  word-wrap: break-word;

}
#Block_2{
  height:90%;
  width:62%;
  position: absolute;
  left: 15%;
  word-wrap: break-word;
}
#Block_3{
  height:90%;
  width:18%;
  position: absolute;
  right: 0%;
  word-wrap: break-word;
}

.block_Button{
    width: ;
    height:;
    border: 4px outset;
    margin:auto;
}

.block_content{
  width: ;
  height:;
  color: red;
  border: 4px outset;
  margin: auto;
}

.block_lpz{
  width:;
  height:;
  border: 4px outset;
  margin: auto;
}

.block_lofi:hover { /* Цвет фона ссылки при наведении */
  background: #BC7F94
}

p {  /* Отступ первой строки */
 text-indent: 2%;
}
