body {
  background-image: url("images/baackground.gif");
  background-repeat: no-repeat;
  background-size: 100%;
}

.music {
  width: 300px;
  height: 250px;
  margin-left: 20%;
  margin-top: 10px;
  border: 4px solid #05040b;
}

.lofi_logo {
  margin-left: 5%;
  margin-top: 2%;
}

.roma {


}
